In [8]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import confusion_matrix,classification_report
import matplotlib.pyplot as plt
import xgboost
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [9]:
df_v3=pd.read_csv("dataset_ohe.csv")
df_v3.head()

,temp_avg,temp_min,temp_max,temp_observ,precip,wind,casual,registered,total_cust,holiday,...,season_fall,dayOfWeek_Friday,dayOfWeek_Monday,dayOfWeek_Saturday,dayOfWeek_Sunday,dayOfWeek_Thursday,dayOfWeek_Tuesday,dayOfWeek_Wednesday,total_cust_log,total_cust_diff
0,5.20,-1.57,11.97,2.77,0.07,2.58,330.0,629.0,959.0,0.0,...,0,0,0,1,0,0,0,0,6.865891,6.865891
1,7.34,0.88,13.81,7.33,1.04,3.92,130.0,651.0,781.0,0.0,...,0,0,0,0,1,0,0,0,6.660575,-0.205316
2,2.01,-3.44,7.46,-3.06,1.88,3.62,120.0,1181.0,1301.0,0.0,...,0,0,1,0,0,0,0,0,7.170888,0.510313
3,-0.66,-5.96,4.64,-3.10,0.00,1.80,107.0,1429.0,1536.0,0.0,...,0,0,0,0,0,0,1,0,7.336937,0.166048
4,0.91,-4.29,6.11,-1.77,0.00,2.95,82.0,1489.0,1571.0,0.0,...,0,0,0,0,0,0,0,1,7.359468,0.022531

In [10]:
X=df_v3.iloc[:,:]
X.drop(columns='total_cust')
y=pd.DataFrame(data=df_v3["total_cust"])

In [11]:
#X=X.drop(columns=['total_cust','datetime','date','dayOfWeek','month'])

In [12]:
X['year'].unique()

array([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 100)

In [14]:
x_array=X_train.values

In [15]:
ada_clf = AdaBoostRegressor(base_estimator=DecisionTreeRegressor(),n_estimators = 200, learning_rate = 0.5, random_state = 100)
ada_clf.fit(X_train, y_train)

C:\Users\Checkout\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

AdaBoostRegressor(learning_rate=0.5, n_estimators=200, random_state=100)

In [16]:
y_train_pred = ada_clf.predict(X_train)

In [17]:
y_train.info()
y_train

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2045 entries, 2369 to 1544
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_cust  2045 non-null   float64
dtypes: float64(1)
memory usage: 32.0 KB

      total_cust
2369     15015.0
746       3477.0
2175      4556.0
348       3670.0
2851     10201.0
...          ...
1930     10523.0
79        2058.0
1859      4243.0
2840      6972.0
1544      7423.0

[2045 rows x 1 columns]

In [19]:
df_v3.columns

Index(['temp_avg', 'temp_min', 'temp_max', 'temp_observ', 'precip', 'wind',
       'casual', 'registered', 'total_cust', 'holiday', 'rain', 'fog', 'ice',
       'year', 'season_spring', 'season_summer', 'season_fall',
       'dayOfWeek_Friday', 'dayOfWeek_Monday', 'dayOfWeek_Saturday',
       'dayOfWeek_Sunday', 'dayOfWeek_Thursday', 'dayOfWeek_Tuesday',
       'dayOfWeek_Wednesday', 'total_cust_log', 'total_cust_diff'],
      dtype='object')

In [20]:
rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
rmsle = np.sqrt(mean_squared_log_error(y_train, y_train_pred))
mae = mean_absolute_error(y_train, y_train_pred)
    
list_scores = []
list_scores.extend([rmse, rmsle, mae])

In [21]:
list_scores

[232.3936268069235, 0.1319188322396236, 183.0369851326245]